@font-face {
    font-family: '07NikumaruFont';
    src: url('07NikumaruFont.woff2') format('woff2'),
        url('07NikumaruFont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

