@import url("fonts.css");
@import url("footer.css");

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: #aea083;
  font-family: "07NikumaruFont";
  font-size: 30px;
  color: #18121e;
  background-image: url("../../assets/Images/fon_pages.png");
  background-size: cover;
  background-repeat: repeat-y;
  background-position: center;
  position: relative;
}

.header {
  position: relative;
  width: 100%;
  min-height: 100px;
  /* минимальная высота, если контента мало */
  overflow: hidden;
  margin-bottom: 100px;
}

/* фон - прижат к верху, по центру по горизонтали */
.header__bg {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Иконка меню — 100х100, у нижнего края, 600px от центра */
.header__logo {
  position: absolute;
  bottom: 0;
  left: calc(50% - 700px);
  width: 200px;
  height: 200px;
  object-fit: contain;
  z-index: 9;
}

.main {
  position: relative;
  width: 1440px;
  margin: 0 auto;
  /* центрируем main на странице */
  height: 4000px;
}

/* Фоновая картинка — растягивается на весь main */
.main__bg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

/* Родительский контейнер должен иметь размеры */
.parent-container {
  position: relative;
  width: 800px;
  /* или любая другая ширина */
  height: 600px;
  /* или любая другая высота */
}

/* Большой блок 800x400 */
.main__feature {
  position: absolute;
  width: 1030px;
  height: 480px;
  z-index: 2;
}

.main__feature a {
  display: block;
  width: 100%;
  height: 100%;
}

.main__feature img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Маленькие блоки (15 штук) */
.main__item {
  position: absolute;
  z-index: 2;
}

.main__item a {
  display: block;
}

.main__item img {
  display: block;
  width: 100%;
  height: auto;
}

.element-animation {
  margin: 2rem 0;
  font-size: 3rem;

  /* Скроем элемент в начальном состоянии */
  opacity: 0;
  transform: translateX(-100vw);
}

.element-animation.to-right {
  transform: translateX(100vw);
}

.element-animation.element-show {
  opacity: 1;
  transition: all 1.5s;
  transform: translateX(0%);
}

.menu_block {
  display: none;
}

.menu_block.active {
  display: block;
}

.menu {
  background: url("../../assets/Images/head_menu.png") no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  grid-auto-flow: row;
  justify-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-bottom: 300px;
  padding-top: 10px;
}

.menu_item {
  padding: 70px 0;
}

.menu_item:nth-child(6) {
  grid-column: 1 / 3;
}

.menu_item a {
  text-decoration: none;
  color: #000;
}